<div class="new-user">
  <h2>New User</h2>

  <form>
    <div class="new-user__form-field">
      <label> *Name <input type="text" /> </label>
    </div>

    <div class="new-user__form-field">
      <label> *Username <input type="text" /> </label>
    </div>

    <div class="new-user__form-field">
      <label> *Email <input type="text" /> </label>
    </div>

    <div>
      <h3>Address</h3>

      <div class="new-user__form-field">
        <label>Street <input type="text" /> </label>
      </div>

      <div class="new-user__form-field">
        <label>City <input type="text" /> </label>
      </div>

      <div class="new-user__form-field">
        <label> Zip Code <input type="text" /> </label>
      </div>
    </div>

    <div class="new-user__form-field">
      <label>* Phone <input type="text" /> </label>
    </div>

    <div class="new-user__form-field">
      <label>Website <input type="text" /> </label>
    </div>

    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
