<div class="new-user">
  <h2>New User</h2>

  <form [formGroup]="userForm">
    <div class="new-user__form-field">
      <label> *Name <input formControlName="name" type="text" /> </label>
    </div>

    <div class="new-user__form-field">
      <label> *Username <input formControlName="username" type="text" /> </label>
    </div>

    <div class="new-user__form-field">
      <label> *Email <input formControlName="email" type="text" /> </label>
    </div>

    <div>
      <h3>Address</h3>

      <div class="new-user__form-field">
        <label>Street <input formControlName="street" type="text" /> </label>
      </div>

      <div class="new-user__form-field">
        <label>City <input formControlName="city" type="text" /> </label>
      </div>

      <div class="new-user__form-field">
        <label> Zip Code <input formControlName="zipcode" type="text" /> </label>
      </div>
    </div>

    <div class="new-user__form-field">
      <label>* Phone <input formControlName="phone" type="text" /> </label>
    </div>

    <div class="new-user__form-field">
      <label>Website <input formControlName="website" type="text" /> </label>
    </div>

    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
